.slideshowband {
	padding: 90px 0 30px 0;
	background: #32312F;
}

.flexslider {
}

.slides {
	margin: 0;
	padding: 0;
}

.slides li {
	position: relative;
	margin: 0 0 10px 0;
	padding: 0;
	min-height: 200px;
}
	
.slides li .text {
	text-align: center;
	color: #c6c0ba;
}

	.slides li .text h3 {
		font-family: 'Big Caslon', Tahoma, Geneva, sans-serif;
		font-size: 38px;
		line-height: 41px;
		text-transform: uppercase;
		color: #FFF;
	}

.flexslider .flex-control-nav {
	position: relative;
	width: auto;
	bottom: 0;
}
.flexslider .flex-direction-nav a {
	
}

.flexslider .flex-direction-nav,
.flexslider .flex-direction-nav li {
	margin: 0;
	padding: 0;
}

.flex-control-paging li {
	margin: 0 6px 0 0;
}
.flex-control-paging li a {
	width: 6px;
	height: 6px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: #666259;
}
.flex-control-paging li a.flex-active {
	background: #999386;
}